### Packer
# Cache objects
packer_cache/

# Crash log
crash.log

# https://www.packer.io/guides/hcl/variables
# Exclude all .pkrvars.hcl files, which are likely to contain sensitive data,
# such as password, private keys, and other secrets. These should not be part of
# version control as they are data points which are potentially sensitive and
# subject to change depending on the environment.
#
*.pkrvars.hcl

# For built boxes
*.box

### Terraform
# Local directory for Terraform data (contains providers, modules, and plugins)
.terraform/

# Local state files (Can contain sensitive secrets in plain text)
*.tfstate
*.tfstate.*

# Crash logs (In case Terraform crashes)
crash.log
crash.*.log

# Exclude all variable files as they often contain secrets
*.tfvars
*.tfvars.json

# Exclude override files (Used for local adjustments)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include CLI configuration files
.terraformrc
terraform.rc
